//设置scss全局变量
$color: #0d0de7;
//layout 左侧菜单栏宽度
$base-menu-width:260px;
//layout 左侧菜单栏折叠宽度
$base-menu-width-flod:60px;
//layout 左侧菜单栏背景颜色
$base-menu-color: #33135e;
//layout header高度
$base-header-height:80px;
//layout main tabBar 高度
$base-main-height:50px;

